<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
                 
 <mapper namespace="com.john.mybatis.mapper.UserWithAddrMapper">
 
 	<resultMap type="com.john.mybatis.model.UserWithAddr" id="userWithAddrResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="nickName" column="nickName" />
		<result property="createTime" column="createTime" />
		<association property="address" column="address_id" 
			select="com.john.mybatis.mapper.AddressMapper.selectById"
			fetchType="lazy"
			></association> 		
 	</resultMap>
 	
 	<resultMap type="com.john.mybatis.model.UserWithAddrEnum" id="userWithAddressEnum">
 		<result property="address" column="address_id" />
		<result property="name" column="name" />
		<result property="nickName" column="nick_name" />
		<result property="createTime" column="create_time" />
		<result property="id" column="id" />
 	</resultMap>


	<select id="selectAllUsersWithAddr" resultMap="userWithAddrResultMap">
		select * from test_user 
	</select> 
	
	
	<update id="updateOne">
		update test_user set name = '1' where id = 3
	</update>
	
	
	<update id="update">
		update test_user set name = '1' where id = 3
	</update>
	
	<update id="updateUseEnumNameById">
		update test_user set name =  #{nickName}  where id = #{id}
	</update>
	
	<update id="updateUseAddressById">
		update test_user set address_id =  #{address}  where id = #{id}
	</update>
	
	<select id="findById" resultMap="userWithAddressEnum">
		select * from test_user where id = #{id}
	</select>
	
 </mapper>